@charset "UTF-8";

/* General */
body {background-color:#000;}

/* Type */
a, p, h2, .left-align, .right-align, footer p, footer a, .project-credits p, hr, .project-nav li a{ color: #fff; }
.project-nav a:hover, .project-credits a:hover, footer a:hover {color:#fff; opacity:1;}
hr {border-top: 1px solid white;}

/* Scaling */
.video-wrapper { position: relative; padding-bottom: 56.25%; margin-bottom: 10%; height: 0; }
.video-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 767px) {
 .video-wrapper{margin-bottom:60px;}
}
